.dockerignore

.git/
.gitignore

.github/

**/__pycache__/

.venv/

.python-version

.ruff_cache/

.pytest_cache/

.env*

**/.DS_Store

.editorconfig

.vscode/

.coderabbit.yaml

README.md

docs/

*.tar
