<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>신선식품 공동구매</title>
</head>
<body>
    <h1>서울특별시 인기 공동구매</h1>
    <select name="regions">
        <option>서울특별시</option>
    </select>
</body>
</html>
