# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore
.gitattributes

# Gradle
.gradle
gradle.properties
gradlew.bat

# SDKMAN!
.sdkmanrc

# IntelliJ IDEA
.idea

# Ignore build files
/build/

# Ignore temporary files
/tmp/
