.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1em;
}

.App-header h1 {
  margin: .5em 0 0;
}

.App-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App-header li,
.App-header form {
  margin: .5em 0;
  padding: .5em;
  border-radius: .4em;
  background: #FFF;
  color: #333;
}

.App-header form {
  margin-bottom: 5em;
}

.App-header button {
  padding: .5em 1em;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
