<h1>Editing attachment</h1>

<%= render "form", attachment: @attachment %>

<br>

<div>
  <%= link_to "Show this attachment", @attachment %> |
  <%= link_to "Back to attachments", attachments_path %>
</div>
