#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
  color: #2c3e50;
}

.home-page {
  word-break: break-all;
}

.accounts span {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 10px;
  margin-left: 10px;
}

input {
  padding: 0 10px;
  width: 80%;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 4px;
}
