html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#ticket-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-block: 1rem;
    padding: 1rem;
    border: 1px solid #CCC;

    .title {
      font-size: 2rem;
      font-weight: 700;
    }

    .description {
      margin-block: .5rem;
    }
  }
}

form {
  margin-block: 2rem;
  max-width: 40rem;

  div {
    margin-block: 1rem;
  }

  label {
    display: block;
    margin-bottom: .4rem;
  }

  input,
  textarea {
    width: 100%;
    padding: .8rem 1rem;
  }

  textarea {
    height: 10rem;
  }

  button {
    width: 100%;
    padding: .8rem 1rem;
  }
}
